.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCard{
    display: flex;
    background-color: black;
    color: white;
}

.encabezado{
    text-align: center;
    color: white;
    margin: 40px 20px 20px;
    background-color: #7a4a84;
    font-size: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .cardContainer{
        max-width: 768px;
        margin-left: 0px;
        justify-content: start;
    }

    .movieCard{
        width: 30%;
    }
}

@media (max-width: 420px) {
    .cardContainer{
        flex-direction: column;
        margin-left: 15px;
        max-width: 380px;
    }

    .movieCard{
        margin-left: 20px;
    }

    .movie-box{
        width: 80%;
    
    }
    
    .encabezado{
        font-size: 14px;
    }

    .ver-todas{
        margin-left: 35px;
    }
}