.cardContainer{
    display: flex;
    flex-wrap: wrap;
}

.movieCard{
    display: flex;
    background-color: black;
    color: white;
}

.encabezado{
    text-align: center;
    color: white;
    margin: 40px 20px 20px;
    background-color: #7a4a84;
    font-size: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .cardContainer{
        max-width: 620px;
        margin-left: 0px;
    }

    .movie-box{
        width: 35%;
    }
}

@media (max-width: 420px) {
    .cardContainer{
        max-width: 420px;
        flex-direction: column;
        margin-left: 15px;
    }
    .movie-box{
        width:75%;
    }
    .encabezado{
        font-size: 14px;
    }

    .ver-todas{
        margin-left: 35px;
    }
}