.movie-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}


.movie-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.titulox {
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: var(--akshar-font-family);
}

.movie-box_data p {
    font-size: 10px;
    width: 100%;
    margin: 0;
    color: var(--gray);
    text-align: center;
    height: 0;
    transition: 300ms;
    overflow: hidden;
}
.overViewCard {
    font-size:20px;
    text-align: center;
    margin:8px 8px;

}

.movie-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
div.buttonsCard{
    text-align: center;
}


div.buttonsCard button{
    background-color: #7a4a84;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    text-align: center;
}

.toDetail{
    color: red;
    text-align: center;
}

.figuraImagen img{
    width: 100%;
    height: 250px;
    width: 100%;
    border: solid black 3px;
    margin: 0px 0px;
}