.paqueteError{
    display: flex;
}

h2{
    color: black;
    font-size: 60px;
    margin-left: 60px;
}

p{
    margin-left: 60px;
}

img{
    height: 150px;
    margin-left: 20px;
    align-self: center;

}